body {
margin: 0;
font-family: Arial, sans-serif;
}

header {
width: 100%;
display: flex;
box-shadow: 0 0.3125em 0.625em 0 rgba(0,0,0,.15);
}

header img {
 margin: 1em;
}

nav {
}

nav ul{
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
width: 100%;
margin: 1.35em 0.5em;
padding: 0;
list-style-type: none;
font-size: 1.1em;
}

ul li{
 margin-right: 1em;
}

li a{
text-decoration: none;
color: black;
}

main h1 {
color: #00d66c;
margin: 5%;
}

.enter-page {
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
width: 100%;
padding: 0;
background-color: #048ddd;
}

div {
 text-align: center;
 width: 70%;
 margin: 1em 0em;
 border-radius: 10px;
 background-color: #fff;
 opacity: 0.8;
}

.all-stories>h1 {
margin: 1em;
color: #00d66c;
}

select {
width: 70%;
margin: 1em;
padding: 0.5em;
font-size: 1.35em;
color: #606060;
border: .0625rem solid #91a3b7;
outline: 0;
border-radius: .5rem;
background: #fff;
transition: border .2s linear,color .2s linear;
box-shadow: 0 0.1875rem 0.0625rem #91a3b7;
}

button {
position: relative;
display: inline-block;
width: 70%;
margin-bottom: 1em;
font-size: 1.35em;
font-weight: bold;
line-height: 1.5;
color: white;
cursor: pointer;
border: 0;
border-radius: 1.25em;
text-decoration: none;
-webkit-appearance: none;
background-color: #ff3268;
box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
transition: background-color .2s linear;
}

input {
width: 70%;
font-size: 1.35em;
padding: 0.4em;
margin: 0.5em;
}

